/* body { margin:0; background-color:#ffffff; position:fixed; height:100%; width:100%} */
/* position:fixed prevents vertical scroll */
body { margin:0; background-color:#ffffff; height:100%; width:100%}
.icon { height:50px; }
img.svg { height:100%; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; }
.hidden {display:none;}
